header
   nav
      .wrapper-header._flex._just-btwn
         .header-left
            img(class='logo' src='img/logo.svg')
         .header-right
            ul
               li
                  a Home