#header
    .container
        .wrapper-header
            .wrapper-logo
                a(href="#")
                    img(src="img/logo.svg").logo
            .wrapper-header-section
                h2 blog