.wrapper-side-bar
    .container
        .wrapper-inside-side-bar
            ul.list-article
                li.active Lorem ipsum dolor sit amet, consec
                li Nisl ut aliquip ex ea commodo
                li vel illum dolore eu feugiat
                li Lorem ipsum dolor sit amet, consec
                li Nisl ut aliquip ex ea commodo
                li vel illum dolore eu feugiat
                li Lorem ipsum dolor sit amet, consec
                li Nisl ut aliquip ex ea commodo
                li vel illum dolore eu feugiat
                li Lorem ipsum dolor sit amet, consec
                li Nisl ut aliquip ex ea commodo
                li vel illum dolore eu feugiat
            .wrapper-pagination
                span.left
                    img(src="img/left-arr.png")
                span.indicator-pagination 1
                span.right
                    img(src="img/right-arr.png")
            .wrapper-credit 
                p all icons powered by flaticon from 
                    a(target="blank" href="https://www.flaticon.com") flaticon.com