extends layout-without-header-footer
block content
  .wrapper-home
    div#home-text
      div#box
        .power-text
          p.level-91 powered by 
            span level-91
        .blog-text
          a(href="#") blog
      h3 front-end Developer
      p passionate Front-end guy who love potato so much
      p could solve your problem
      p sometimes im funny
      p feel free to contact or send memes at 
        span squalvj@gmail.com
      