//- layout.pug
doctype html
html
  head
    title I'm a title
    link(rel="stylesheet" href="css/main.css")
  body
    block header
      include part/header
    block content
    block footer
      include part/footer