//- layout.pug
doctype html
html
  head
    title I'm a title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="css/main.css")
    //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900|Roboto|Inconsolata:400,700")
    link(rel="shortcut icon" type="image/png" href="img/favicon.ico")
    
  body#body-homepage.bg-pattern
    block content
    script(src="js/app.min.js")